.projects {
    min-height: 100vh;
    color: darkslategrey;

    &__block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;

        @media (max-width: 900px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }

        @media (max-width: 600px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
    }

    &__row {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        gap: 20px;
    }

    &__other {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        box-shadow: 0px 0px 4px rgba($color: lightgrey, $alpha: 1);
        background: white;
        gap: 20px;
        border-radius: 5px;
        overflow: hidden;
        font-size: 24px;
        color: grey;

        a {
            transition: 0.3s;
            border-bottom: 1px solid grey;
            font-weight: 500;
            color: grey;
        }

        a:hover {
            color: darkslategrey;
            border-bottom: 1px solid darkslategrey;
        }
        
    }
}