.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
}

.title {
  font-size: 32px;
  font-weight: 600px;
  text-align: center;
}

.title-big {
  margin: 0;
  padding: 0;
  font-size: 70px;
  opacity: 0.5;

  @media (max-width: 480px) {
      font-size: 48px;
  }
}